<div class="text-center">
	<h1 class="logo-large">Wurst</h1>
	<h3 class="">Some awesome-boss-like slogan!</h3>
</div>

<div class="bs-callout bs-callout-info">
	<h3>Why Wurst?</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu justo massa. Maecenas porttitor lacus eu felis auctor gravida. Cras at augue non odio ullamcorper hendrerit ut sed dolor. Sed pharetra mauris in metus cursus accumsan. Integer ultrices sem lacus, non semper massa aliquam ac.
	</p>
</div>

<div class="text-center">
	<a href="#" class="btn btn-primary btn-lg">Getting started</a>
</div>